  /* ratings tables */
  .rating {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: var(--content-width);

  }
  .rating-head {
    font-weight: bold;

  }

  .rating td {
    min-width: auto;
  }
  
  /* expandable tables */
  input {
    display: none; /* Hide the checkbox */
  }
  input:checked + div {
    height: auto; /* Expand the table when checkbox is checked */
  }
  input:checked ~ label {
    transform: rotate(180deg); /* Rotate the label (arrow) */
    margin-top: 0; /* Adjust spacing */
  }
  label {
    /* Style the label as a button */
    display: block;
    font-size: x-large;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 10px; /* Position the label */
    height: 38px;
    background: linear-gradient(to bottom, #fffdd0 0%, #9acd32 100%);
  }
  .ratings-div {
    height: calc(28.3px * (25 + 1));
    overflow: hidden;
  }

  .yearlinks {
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .rules {
    border: 1px solid black;
    width:fit-content;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  ul {
    list-style: none; /* Remove HTML bullets */
  }
  li::before {
    content: "🢩"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #9acd32; /* Or a color you prefer */
  }